
/* Primary text */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

/* Title text */
@import url('https://fonts.googleapis.com/css?family=Nothing+You+Could+Do');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');
@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Arizonia');
@import url('https://fonts.googleapis.com/css?family=Mr+De+Haviland');
@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');
@import url('https://fonts.googleapis.com/css?family=Miss+Fajardose');
@import url('https://fonts.googleapis.com/css?family=Mr+Dafoe');

* {
    background-color: #F83800;
    color: white;

    font-family: "Roboto", sans-serif;
    font-family: "Lato", sans-serif;
    font-family: "Source Sans Pro", sans-serif;

    font-family: "Open Sans", sans-serif;
    font-family: "Muli", sans-serif;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    /* letter-spacing: 0.05em; */
}

body {
    font-size: 20pt;
    margin-left: 2rem;
    margin-right: 2rem;
}

@media all and (min-width: 960px) {
    div.post-section {
        width: 960px;
    }
}

div.post-section {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-bottom: 8rem;
}

em, a {
    color: #FFA044; /* this is actual fireflower orange */
    color: #FFE044; /* this is the eyes-searing yellow we need */
    font-weight: 700;
    font-style: normal;
}

body img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

h1 {
    font-family: "Mr De Haviland", cursive;
    font-family: "Mr Dafoe", cursive;

    font-family: "Alex Brush", cursive;
    font-family: "Arizonia", cursive;

    font-family: "Mrs Saint Delafield", cursive;
    font-family: "Nothing You Could Do", cursive;
    font-family: "Miss Fajardose", cursive;
    font-family: "La Belle Aurore", cursive;

    font-size: 300%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: #FFE044;
}

h2 {
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding: 2rem;
    background-color: #5D94FB;
    background-color: #4D84EB;
    color: white;
    border: 4px solid white;
    font-size: 120%;
}

h2 > div {
    margin-top: 1rem;
    background-color: #5D94FB;
    background-color: #4D84EB;
    color: white;
}

h2 a {
    color: #FFE044;
}

h2 > div > a {
    margin-left: 1em;
}

h2 > img {
    display: float;
    float: left;
    background-color: #5D94FB;
    background-color: #4D84EB;
    width: 100px;
    height: 100px;
    margin: 0px;
    margin-right: 2rem;
}

p#subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 8rem;
}

p {
    /*text-align: justify;*/
}

p + p,
blockquote#tech-past-quote + p {
    text-indent: 2em;
}

p#subtitle + p {
    text-indent: 0;
}

h3 {
    margin-top: 8rem;
    border-bottom: 2px solid white;
}

div.commentary-section {
    border-bottom: 2px solid white;
}

div.post-section > blockquote {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

blockquote {
    margin-left: 2rem;
    margin-right: 2rem;
}

blockquote, blockquote em {
    font-style: italic;
    font-weight: 400;
}

blockquote > p:first-child::before {
    content: open-quote;
}

blockquote > p:last-child::after {
    content: close-quote;
}

blockquote > ul:last-child > li:last-child > p::after {
    content: close-quote;
}

blockquote > ol:last-child > li:last-child > p::after {
    content: close-quote;
}

blockquote li > p {
    margin: 0;
}

blockquote#tech-past-quote > p {
    text-align: center;
}

div.commentary {
    font-size: 80%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

div.commentary > div {
    text-align: right;
    margin-right: 2rem;
}

div.commentary > div > a {
    font-style: italic;
}

div.commentary > div::before {
    content: "— ";
}

ul > li {
    list-style-type: "•  ";
}

@media all and (min-width: 960px) {
    div.commentary-section {
        display: flex;
    }

    div.commentary-column {
        min-width: 30%;
    }
}