@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore');

* {
    background-color: #F83800;
    color: white;

    font-family: "Raleway", sans-serif;
    font-weight: 400;
    line-height: 1.6em;
    /* letter-spacing: 0.05em; */
}

body {
    font-size: 20pt;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 16rem;
}

div.post-section > * {
    margin-left: 2rem;
    margin-right: 2rem;
}

body > div.commentary-container {
    margin-left: 0rem;
    margin-right: 0rem;
}

@media all and (min-width: 960px) {
    div.post-section {
        width: 960px;
    }
}

div.post-section {
    margin-left: auto;
    margin-right: auto;
}

body {
    margin-bottom: 8rem;
}

em, a {
    color: #FFA044; /* this is actual fireflower orange */
    color: #FFE044; /* this is the eyes-searing yellow we need */
    font-weight: 700;
    font-style: normal;
}

img#titleflower {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
}

img#footerflower {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
}

div.flreqn {
    background-color: black;
    border-top: 5px solid #FFE044;
    border-bottom: 5px solid #FFE044;
    margin-top: 8rem;
    margin-bottom: 8rem;
}

img#flreqn {
    width: 800px;
    height: 260px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: black;
}

h1 {
    font-family: "La Belle Aurore", cursive;

    font-size: 300%;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: #FFE044;
}

h2 {
    margin-top: 8rem;
    margin-bottom: 4rem;
    padding: 2rem;
    background-color: #5D94FB;
    background-color: #4D84EB;
    color: white;
    border: 4px solid white;
    font-size: 120%;
}

h2 > div {
    margin-top: 1rem;
    background-color: #5D94FB;
    background-color: #4D84EB;
    color: white;
}

h2 a {
    color: #FFE044;
}

h2 > div > a {
    margin-left: 1em;
}

h2 > img {
    display: float;
    float: left;
    background-color: #5D94FB;
    background-color: #4D84EB;
    width: 100px;
    height: 100px;
    margin: 0px;
    margin-right: 2rem;
}

h2.epilogue {
    text-align: center;
}

p#subtitle {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 8rem;
}

p {
    /*text-align: justify;*/
}

p + p,
blockquote#tech-past-quote + p {
    text-indent: 2em;
}

p#subtitle + p {
    text-indent: 0;
}

h3 {
    margin-top: 8rem;
    border-bottom: 2px solid white;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
}

div.commentary-section {
    /*border-bottom: 2px solid white;*/
}

div.post-section > blockquote {
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
}

blockquote,
blockquote em {
    font-style: italic;
}

blockquote {
    margin-left: 2rem;
    margin-right: 2rem;
}

blockquote > p:first-child::before {
    content: open-quote;
}

blockquote > p:last-child::after {
    content: close-quote;
}

blockquote > ul:last-child > li:last-child > p::after {
    content: close-quote;
}

blockquote > ol:last-child > li:last-child > p::after {
    content: close-quote;
}

blockquote li > p {
    margin: 0;
}

blockquote#tech-past-quote > p {
    text-align: center;
}

div.commentary {
    font-size: 80%;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

div.commentary > div {
    text-align: right;
    margin-right: 2rem;
}

div.commentary > div > a {
    font-style: italic;
}

div.commentary > div::before {
    content: "— ";
}

ul > li {
    list-style-type: "•  ";
}

@media all and (min-width: 960px) {
    div.commentary-section {
        display: flex;
    }

    div.commentary-column {
        min-width: 30%;
    }
}

div.commentary-container {
    padding-bottom: 2rem;
}

h3,
div.commentary-container,
div.commentary-container p,
div.commentary-container blockquote,
div.commentary-container ol,
div.commentary-container ul,
div.commentary-container li,
div.commentary-container div,
div.commentary-container em {
    background-color: #4D84EB;
    background-color: black;
}

div.none {
    text-align: center;
    margin: 4rem;
}
